.form {
  &__wrapper {
    position: relative;
    min-height: 4.0rem;
  }

  &__input {
    width: 100%;
    padding: .8rem 0;
    border: none;
    border-bottom: .1rem solid rgba($color-white, .4);
    outline: none;
    color: $color-white;
    background: transparent;
    transition: .4s ease;

    @include styling-autofill($color-white);

    &:focus {
      border-bottom-color: $color-blue;
    }
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 1.0rem;
    color: rgba($color-white, .2);
    transition: .4s ease;
    pointer-events: none;

    &--shifted {
      bottom: 3.5rem;
      font-size: smaller;
    }
  }

  &__input:focus + &__label {
    color: $color-blue;
  }
}