.title {
  font-family: $font-family-title;
  font-style: normal;
  color: $color-white;

  &--size--sm {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.7rem;

    @include mobile {
      font-size: 2.2rem;
      line-height: 2.4rem;
    }
  }

  &--size--md {
    font-weight: 400;
    font-size: 6.0rem;
    line-height: 6.7rem;

    @include tablet {
      font-size: 5.0rem;
      line-height: 5.5rem;
    }

    @include mobile {
      font-size: 3.5rem;
      line-height: 4.0rem;
    }
  }

  &--size--lg {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.1rem;

    @include mobile {
      font-size: 5.7rem;
      line-height: 6.3rem;
    }
  }

  &--size--xl {
    font-weight: 400;
    font-size: 13.0rem;
    line-height: 14.5rem;

    @include tablet {
      font-size: 12.0rem;
      line-height: 13.5rem;
    }

    @include mobile {
      font-size: 10.0rem;
      line-height: 11.0rem;
    }
  }

  &--color--blue {
    color: $color-blue;
  }

  &--color--dark {
    color: $color-dark;
  }
}